body {
  background-color: lightgrey;
  width: 960px;
  margin: auto;
}

h1{
  font-weight: bold;
  color: white;
  background-color: black;
  opacity: 0.7;
  margin: 25px;
  padding: 10px;
  text-align:center
}

h2{
  font-weight: bold;
  margin: 10px;
  color: rgb(19, 57, 228);
  
}

h3{
  font-weight: bold;
  margin: 10px;
  color:rgb(19, 57, 228)
  
}

p{
  padding: 10px;
}

img {
  width: 100px;
  float: left;
}

